
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-primary" href="/ThongKe/CreateTongChi">Thống kế tổng chi cho NXB</a>
<a class="btn btn-primary" href="/ThongKe/CreateDoanhThu">Thống kế doanh thu</a>
