@model FAHASA.Models.PhieuKiemKho

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Phiếu Kiểm Kho</h2>

<h3>Bạn có muốn xóa phiểu kiểm kho này ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGio)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Về Danh Sách Phiếu Kiểm Kho", "Index")
        </div>
    }
</div>
